{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="s-n">

<div id="container">

<div id="contents">

<div id="main">

<section>

<h2>お問い合わせ</h2>
<p>※実際には届きません</p>
<table class="ta1">
<tr>
<th>お名前※</th>
<td><input type="text" name="お名前" size="30" class="ws"></td>
</tr>
<tr>
<th>メールアドレス※</th>
<td><input type="text" name="メールアドレス" size="30" class="ws"></td>
</tr>
<tr>
<th>お問い合わせ詳細※</th>
<td><textarea name="お問い合わせ詳細" cols="30" rows="10" class="wl"></textarea></td>
</tr>
</table>

<p class="c">
<input type="submit" value="内容を確認する" class="btn">
</p>

</section>

</div>
<!--/main-->
{% endblock content %}
</body>
</html>
