{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="contents">

<div id="main">

<section id="new">
<h2>お知らせ</h2>
<dl>
<dt>2024/01/01</dt>
<dd>小さな端末を横向きにした際に、メニューが途中で切れる場合があったのを修正。<span class="newicon">NEW</span></dd>
<dt>2024/01/01</dt>
<dd>ブログ一覧を新着順に修正</dd>
<dt>2024/01/01</dt>
<dd>お知らせ内容</dd>
<dt>2024/01/01</dt>
<dd>お知らせ内容</dd>
<dt>2024/01/01</dt>
<dd>お知らせ内容</dd>
</dl>
<p class="r">&raquo;&nbsp;<a href="#">過去ログ</a></p>
</section>
</div>
<!--/main-->
{% endblock content %}
</body>
</html>
